<!doctype html>
<html ng-app="app">
  <head>
    <title>We Are Learned</title>
    <!-- Bootstrap Assets -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <!-- Parse JS Library -->
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.1.8.min.js"></script>
    <!-- AngularJS Library -->
    <script type="text/javascript" src="angular.min.js"></script>
    <!-- App Code -->
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>

    <div class="container-fluid"
         ng-controller="Main">
      
      <!-- Page Header -->
      <div class="page-header">

        <!-- Navbar -->
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li>
                <a href="#">Profile</a>
              </li>
              <li>
                <a href="#">Planner</a>
              </li>
            </ul>
            <form class="navbar-form pull-right"
                  ng-submit="search()">
              <input type="text"
                     ng-model="searchString"
                     class="input-medium search-query"
                     placeholder="Find a concept">
            </form>
          </div>
        </div>
      
      </div>
      
      <!-- Concept Header -->
      <div class="row-fluid">
        <!-- Concept title bar-->
        <h2>{{ conceptName }}</h2>
      </div>
      
      <!-- Panels -->
      <div class="row-fluid">
        
        <!-- Left Panel: Dependencies -->
        <div ng-controller="LeftSize" 
             ng-class="layout">
          <div ng-hide="status != 'closed'">
            <button class="btn"
                    ng-click="open()">
              <i class="icon-arrow-right"></i>
            </button>
          </div>
          <div ng-hide="status != 'open'">
            <button class="btn pull-left"
                    ng-click="close()">
              <i class="icon-arrow-left"></i>
            </button>
            <div class="well well-small">
              <h3 class="text-center">Dependencies</h3>
              <optiontitle ng-repeat="dependency in dependencies"
                           ng-controller="Dependency"
                           title="dependency"
                           options="menuOptions"></optiontitle>
            </div>
          </div>
        </div>

        <!-- Center Panel: Concept -->
        <div ng-controller="MiddleSize" 
             ng-class="layout">
          <!-- Concept Explanations -->
          <div class="well"
               ng-controller="Explanation"
               ng-repeat="explanation in explanations">
            <h4>{{ explanation.author }} said:</h4>
            <p>
              {{ explanation.text }}
            </p>
          </div>
        </div>
        
        <!-- Right Panel: Dependents -->
        <div ng-controller="RightSize" 
             ng-class="layout">
          <div ng-hide="status != 'closed'">
            <button class="btn"
                    ng-click="open()">
              <i class="icon-arrow-left"></i>
            </button>
          </div>
          <div ng-hide="status != 'open'">
            <button class="btn pull-right"
                    ng-click="close()">
              <i class="icon-arrow-right"></i>
            </button>
            <div class="well well-small">
              <h3 class="text-center">Dependants</h3>
              <optiontitle ng-repeat="dependant in dependants"
                           ng-controller="Dependant"
                           title="dependant"
                           options="menuOptions"></optiontitle>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body
</html>
